.form {
  padding: 8px;
  &__input {
      outline: none;
      font-family: Roboto, sans-serif;
      color: white;
      font-size: 48px;
      height: 64px;
      background: none;
      border: 0 none;
      padding-left: 0;
      border-bottom: 5px solid rgba(255, 255, 255, 0.5);
  
      &:hover,
      &:focus {
        background: none;
        color: white;
        border-color: rgba(255, 255, 255, 1);
      }
    }

     &__input-container {
      position: relative;
    }
  
    &__show-password {
      position: absolute;
      right: 20px;
      top: 28px;
      color: white;
      opacity: 0.5;
      cursor: pointer;
  
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  
    svg {
      transform: scale(1.5);
      fill: currentColor;
    }

    &__progress {
      height: 3px !important;
    }

    &__popover-password {
      position: relative;
      margin-top: 16px;
    }

    &__password-strength {
      position: absolute;
      top: -24px;
    }

}

@media (max-width: 640px) {
  .form__input {
    font-size: 24px;
    width: 100%;
  }
}

.red {
 color: red;
}

.yellow {
  color: yellow;
}

.green {
 color: green;
}

.gray {
  color: gray;
}