<form class="form">
  <label>
    <div class="form__input-container">
      <input id="password" name="password" class="form__input" type="password" [type]="inputState ? 'text' : 'password'"
        placeholder="Enter your password" [(ngModel)]="password" (input)="checkPasswordStrength()">
      <span (click)="toggle()" class="form__show-password" id="show-password">
        <svg width="18" height="" viewBox="0 0 30 30" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg">
          <defs>
            <path
              d="M0,15.089434 C0,16.3335929 5.13666091,24.1788679 14.9348958,24.1788679 C24.7325019,24.1788679 29.8697917,16.3335929 29.8697917,15.089434 C29.8697917,13.8456167 24.7325019,6 14.9348958,6 C5.13666091,6 0,13.8456167 0,15.089434 Z"
              id="outline"></path>
            <mask id="mask">
              <rect width="100%" height="100%" fill="white"></rect>
              <use xlink:href="#outline" id="lid" fill="black" />
            </mask>
          </defs>
          <g id="eye">
            <path
              d="M0,15.089434 C0,16.3335929 5.13666091,24.1788679 14.9348958,24.1788679 C24.7325019,24.1788679 29.8697917,16.3335929 29.8697917,15.089434 C29.8697917,13.8456167 24.7325019,6 14.9348958,6 C5.13666091,6 0,13.8456167 0,15.089434 Z M14.9348958,22.081464 C11.2690863,22.081464 8.29688487,18.9510766 8.29688487,15.089434 C8.29688487,11.2277914 11.2690863,8.09740397 14.9348958,8.09740397 C18.6007053,8.09740397 21.5725924,11.2277914 21.5725924,15.089434 C21.5725924,18.9510766 18.6007053,22.081464 14.9348958,22.081464 L14.9348958,22.081464 Z M18.2535869,15.089434 C18.2535869,17.0200844 16.7673289,18.5857907 14.9348958,18.5857907 C13.1018339,18.5857907 11.6162048,17.0200844 11.6162048,15.089434 C11.6162048,13.1587835 13.1018339,11.593419 14.9348958,11.593419 C15.9253152,11.593419 14.3271242,14.3639878 14.9348958,15.089434 C15.451486,15.7055336 18.2535869,14.2027016 18.2535869,15.089434 L18.2535869,15.089434 Z"
              fill="#FFFFFF"></path>
            <use xlink:href="#outline" mask="url(#mask)" fill="#FFFFFF" />
          </g>
        </svg>
      </span>
    </div>
  </label>

  <div id="popover-password" class="form__popover-password">
    <p class="form__password-strength">
      <span id="result" [ngClass]="{
        'gray': passwordStrength === '',
        'red': passwordStrength === 'Weak',
        'yellow': passwordStrength === 'Medium',
        'green': passwordStrength === 'Strong'
      }">
        {{ passwordStrength }}
      </span>
    </p>

    <div class="form__progress">
      <div id="password-strength" class="progress-bar" role="progressbar" [ngClass]="{
          'gray': passwordStrength === '',
          'red': passwordStrength === 'Weak',
          'yellow': passwordStrength === 'Medium',
          'green': passwordStrength === 'Strong'
        }" [style.width.%]="passwordStrengthPercentage"></div>
    </div>
    <ul class="list-unstyled">
      <li>
        <span class="form__rule" [ngClass]="{
            'gray': passwordStrength === '',
            'red': passwordStrength === 'Weak',
            'yellow': passwordStrength === 'Medium',
            'green': passwordStrength === 'Strong'
          }">
          &nbsp;Only (0-9) or (a-z) or (!@#$%^&*)
        </span>
      </li>
      <li>
        <span class="form__rule" [ngClass]="{
            'gray': passwordStrength === '',
            'red': passwordStrength === 'Weak',
            'yellow': passwordStrength === 'Medium',
            'green': passwordStrength === 'Strong'
          }">
          &nbsp;Combination of (Aa-Zz)-(!@#$%^&*) or (a-z)-(0-9) or (0-9)-(!@#$%^&*)
        </span>
      </li>
      <li>
        <span class="form__rule" [ngClass]="{
            'gray': passwordStrength === '',
            'red': passwordStrength === 'Weak',
            'yellow': passwordStrength === 'Medium',
            'green': passwordStrength === 'Strong'
          }">
          &nbsp;Has (a-z), (!@#$%^&*), (0-9)
        </span>
      </li>
    </ul>
  </div>
</form>