@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
  background: linear-gradient(135deg, #36b99f 0%, #7b4c9b 100%);
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
